.container {
  width: 420px;
  height: 844px;
  color: #fff;
}

.titleBar {
  float: left;
  position: relative;
  bottom: 750px;
  left: 20px;
}
.backBtn {
  padding-right: 70px;
}
.list{
  position: relative;
  bottom: 20px;
}
.placeicon {
  position: relative;
  top: 2px;
  padding-right: 5px;
}
.deleteBtn {
  height: 15px;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  left: 290px;
  bottom: 20px;
}
.gTitle {
  position: relative;
  right: 10px;
  top: 8px;
}
.goodPlace {
  position: relative;
  bottom: 680px;
  right: 170px;
  font-size: 16px;
  font-weight: 700;
}
.store {
  float: left;
  position: relative;
  left: 200px;
  padding-bottom: 15px;
}
.storeName,
.bookmarkIcon {
  float: left;
}
.bookmarkIcon {
  position: relative;
  top: 4px;
}

.storeName {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}
.address {
  width: 150px;
  height: 23px;
  font-size: 8px;
  font-weight: 400;
  float: left;
  position: relative;
  top: 20px;
  right: 47px;
}

.detail {
  display: block;
  width: 80px; 
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(101deg, #e42a89 -2.02%, #402846 70.2%);
  position: relative;
  top: 10px;
  left: 225px;
  font-size: 11px;
  font-weight: 800;
  padding: 2px;
  box-shadow: 0px 2px 4px 0px rgba(71, 195, 253, 0.25),
  0px 4px 4px 0px rgba(71, 195, 253, 0.25) inset;
}

.dText{
  display: block;
  width: 80px;
  position: relative;
  right: 22px;
  bottom: 18px;
}
.sTitle {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: 200px;
  right: 40px;
}

.sharePlace {
  position: relative;
  bottom: 620px;
  right: 170px;
}
.eTitle {
  font-weight: 700;
  position: relative;
  top: 395px;
  right: 43px;
}
.etcPlace {
  position: relative;
  bottom: 560px;
  right: 170px;
}
.blur{
  width: 390px;
height: 268px;
background-color: red;
}